<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>proto extension</title>
  <link rel="stylesheet" href="styles/popup.css">

  <script src = "popup.js"> </script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<body>

  <div class = "container">
    <a href ="https://github.com/login/oauth/authorize?client_id=343ada670dd814d91e84">Sign in Github</a>
  </div>

  <div class="container">
    <a> Sign in to Canvas </a>
  </div>

  <div class = "notification">
    <p class="update-text">Before</p>
  </div>


</body>
</html>